* {
    padding: 0px;
    margin: 0px;
}

.header {
    width: 1280px;
    position: fixed;
}

/* kode css navigator */
ul {
    list-style: none;
    background: rgb(194, 194, 240);
    padding: 0px 0px;
    margin: 120px 0px;
    position: fixed;
    width: 1280px;
    height: 60px;
}

ul li {
    display: inline-block;
    position: relative;
    height: 60px;
    padding: 10px 8px;
}

/* hyperlink */
ul li a {
    padding: 10px 0px;
    text-align: center;
}

ul a:hover {
    background-color: rgba(142, 173, 200, 0.696);
}

/* kode css dropdown */
ul li ul.dropdown {
    background-color: rgb(135, 226, 196);
    position: absolute;
    display: none;
    width: auto;
    height: auto;
    margin: 0px 0px;
}

ul li:hover ul.dropdown {
    display: block;
}

/* Kode css side bar */
.column {
    float: left; 
    padding: 0px 10px;
    background-color: cornsilk;
}

.column.side{
    width: 20%;
    margin-top: 180px;
    margin-bottom: 10px;
    background-color:cornsilk 
}

.column.middle{
    width: 76%;
    margin-top: 180px;
    margin-bottom: 10px;
    background-color: cornsilk;
    text-align: center;
}

.footer {
    width: 1280px;
    position:fixed;
    margin: 520px 0px;}

p {
    font-size:larger;
    font-family: 'Courier New', Courier, monospace;
}

h2{
    font-size: xx-large;
    background-color: bisque;
}

.column.K{
    width: 100%;
    margin-top: 180px;
    margin-bottom: 50px;
    background-color:cornsilk 
}

h3{
    font-size: x-large;
    font-family: 'Courier New', Courier, monospace;
    background-color: cornsilk;
}
